<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Page d'Accueil Candidat</title>
</head>
<body>

<h1>Bienvenue, <span th:text="${candidat.prenom} + ' ' + ${candidat.nom}">Nom Prénom</span></h1>

<h2>Profil</h2>
<p><strong>Bio: </strong><span th:text="${profil.bio}"></span></p>

<h3>Recommandations d'offres :</h3>
<ul>
  <li th:each="recommandation : ${recommandations}" th:text="${recommandation}"></li>
</ul>

<!-- Ajouter d'autres sections de profil comme les expériences, formations, etc. -->

</body>
</html>
